/* TODO move the codes below to JS
https://github.com/0kzh/minimal-youtube/blob/master/content.js#:~:text=const-,replaceHomePage,-%3D
 */

/* simplify the home page by removing the following elements: */
#nav-global-location-slot, /* current delivery location */
#nav-link-accountList, /* Account & Lists dropdown */
#nav-main, /* main navbar */ 
#icp-nav-flyout, /* language dropdown */
#pageContent, /* main content */
#rhf, /* other content (e.g. browsing history) */
#navFooter {
  display: none !important;
}

/* match background with navbar color */
body {
  background-color: #131921 !important;
}
