/* This is injected after a web page loads */

#overlayElement {
  position: fixed; /* sit on top of the page content */
  display: block;
  width: 100%; /* to cover the whole page */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999; /* prioritize this element above all */
  background-color: var(
    --arc-palette-background
  ); /* use current Arc space's theme */
  font-family: "Futara", sans-serif;
  text-align: center;
}

#paddingHelper {
  padding-top: 300px;
}

#mainMessage {
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 20px;
}

#inspirationalQuote {
  font-size: x-large;
  font-style: italic;
  padding-bottom: 20px;
}

#countdownMessage {
  font-size: large;
  opacity: 0.3;
  padding-bottom: 20px;
}

#closeButton,
#continueButton {
  margin: 5px;
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  font-weight: bold;
  font-size: large;
  line-height: 1.5;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

#closeButton {
  background-color: var(--arc-palette-foregroundSecondary);
  color: #fff;
}

#continueButton {
  background-color: transparent;
  color: var(--arc-palette-title);
  opacity: 0.5;
}
