/* This is injected after a web page loads */

/* VARIABLES */
:root {
  --font-family: "Futara", sans-serif;
  --padding-bottom: 20px;
}

#overlayElement {
  position: fixed; /* sit on top of the page content */
  display: block;
  width: 100%; /* to cover the whole page */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999; /* prioritize this element above all */
  background-color: var(
    --arc-palette-background
  ); /* use current Arc space's theme */
  text-align: center;
}

#paddingHelper {
  padding-top: 300px;
}

#mainMessage {
  font-size: xxx-large;
  font-weight: bold;
  font-family: var(--font-family);
  padding-bottom: var(--padding-bottom);
  color: var(--arc-palette-title);
}

#countdownMessage {
  font-family: var(--font-family);
  font-size: large;
  opacity: 0.3;
  padding-bottom: var(--padding-bottom);
  color: var(--arc-palette-title);
}

#closeButton,
#continueButton {
  font-family: var(--font-family);
  padding: 0.75rem 3rem;
  border: 0;
  border-radius: 0.317rem;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
#closeButton:hover,
#continueButton:hover {
  opacity: 0.85 !important;
}

#closeButton {
  background-color: var(--arc-palette-foregroundSecondary);
  color: var(--arc-palette-title);
  font-size: x-large;
}

#continueButton {
  background-color: transparent;
  color: var(--arc-palette-title);
  font-size: large;
}
